.CreateContainer {
  background-color: white;
  height: 1000px;
  padding-top: 50px;
}

.GambarBelakang {
  background-image: white;
  z-index: 0;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-size: 100%;
}
.CreateJob-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
}
.createJob-svg {
  width: 20vw;
  height: auto;
  padding-bottom: 60px;
  margin: auto;
  display: block;
}

.contentCreate {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Card */
.CreateJobCard {
  margin-top: 0px;

  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  text-align: left;
  border-radius: 10px;
  max-height: 2500px;
  max-width: 800px;
  padding: 50px;
  border: 2px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease-in-out;
}

/* inputan */
.formdeskripsi {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #0e1724;
  box-shadow: 0 1px 0 0 #0e1724;
}
.active-cyan input[type="text"] {
  border-bottom: 1px solid#0e1724;
  box-shadow: 0 1px 0 0 #0e1724;
}

.NamaProjek {
  margin-bottom: 30px;
  border-bottom: 1px solid#0e1724;
  box-shadow: 0 1px 0 0 #0e1724;
}
.DeskripsiProjek {
  height: 100px;
  border-bottom: 1px solid#0e1724;
  box-shadow: 0 1px 0 0 #0e1724;
}

.LabelProjek {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.LabelProjekUnggahan {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.custom-file {
  width: fit-content;
}

.submit {
  background-color: #0e1724;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  width: 100px;
}

.submit:hover {
  background-color: white;
  color: #0e1724;
  border: 2px outset #0e1724;
}

@media only screen and (max-width: 1000px) {
  .CreateJobCard {
    margin: 40px;
  }
}
