/* 
Navbar  */
.base {
}

.navbar-brand {
  font-family: "Lemon", cursive;
}
.brandLogo {
  font-size: 36px;
}
.mr-auto {
  margin-left: 850px;
}

/* namarole */
.roleNav {
  border-color: #ffffff;
  background-color: #0069d9;
  color: #ffffff;
  margin-right: 50px;
  font-size: 20px;
  width: fit-content;
}

a.nav-link {
  font-family: "Rufina", serif;
  font-size: 20px;
  margin: 10px;

  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
  color: grey;
  margin-top: 20px;
}

.isikonten:hover {
  color: #0069d9;
}

.namaProfil {
  color: black;
}

.namaProfil:hover {
  color: #0069d9;
}

/* div untuk nama dan role */
.namaRole {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .mr-auto {
    margin-left: 0px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: grey;
    margin-top: 0px;
  }
  a.nav-link {
    font-family: "Rufina", serif;
    font-size: 15px;
  }
  .form-inline {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link {
    margin-top: 0px;
  }
}
