<!DOCTYPE html>
{% extends 'nav.html' %} 
{% load static %} 
{% block title %} 
{% endblock title%} 
{% block content %} 
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/admin_page.css' %}"
    />
    <div class="IsiAdminPage">
      <h1 class="admin-title">Monitor your freelancer.</h1>
      <img src="{% static 'img/admin.svg' %}" class="admin-svg" />
      <svg
      class="admin-arrow-down"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="svelte-c8tyih"
    >
      <path
        d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"
      ></path>
    </svg>
      <div class="tableProfile">
        {% comment %} make a table {% endcomment %}
        <table
          class="table table-hover table-fixed"
          id="table-dashboard"
          cellspacing="0"
          cellpadding="0"
        >
          <!--Table head-->
          <thead class="threadbaru">
            <tr>
              <th class="hideresponsive text-lg-center">Foto Profil</th>
              <th class="hideresponsive text-lg-center">Nama Freelancer</th>
              <th class="hideresponsive text-lg-center">Jenis Pekerjaan</th>
              <th class="hideresponsive text-lg-center">Deskripsi Singkat</th>
              <th class="hideresponsive text-lg-center">Jumlah Ulasan</th>
              <th class="hideresponsive text-lg-center">Jumlah Rating</th>
              <th class="hideresponsive text-lg-center">Penjelasan</th>
              <th class="hideresponsive text-lg-center">Tambah Verified</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr>
              <th scope="row">
                <img class="foto_thumbnail text-lg-center" src="selfie.jpg" />
              </th>
              <td class="col_5 text-lg-center">Muhammad Destara Syanandi</td>
              <td>Profesional Web-Application</td>
              <td class="col_0 text-lg-center">Lorem ipsum....</td>
              <td class="col_1 text-lg-center">3</td>
              <td class="col_2 text-lg-center">4.5</td>

              <td class="selengkapnya text-lg-center">
                <a href="#" class="card-link">Lihat Profil >> </a>
              </td>
              <td class="col_2 text-lg-center">
                <button class="w3-button w3-circle verified">+</button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% endblock content %}