{% extends 'nav.html' %} {% load static %} {% block title %} {% endblock title%}
{% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Lemon&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Rufina&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/create_job.css' %}"
/>
<body>
  <div class="CreateContainer">
    <div class="GambarBelakang">
      <h1 class="CreateJob-title">Create Your Job.</h1>
      <img src="{% static 'img/create_job.svg' %}" class="createJob-svg" />
      <div class="contentCreate">
        <div class="CreateJobCard">
          <form
            class="form-inline d-flex md-form form-sm active-cyan-2 mt-2 formdeskripsi"
          >
            <p class="LabelProjek">Pilih nama untuk proyek Anda:</p>
            <input
              class="form-control form-control-sm mr-3 w-75 NamaProjek"
              type="text"
              placeholder="contoh : Buatkan saya situs Website E-Commerce"
              aria-label="Search"
            />
            <p class="LabelProjek">
              Beritahu kami lebih jauh tentang proyek Anda:
            </p>
            <textarea
              class="form-control form-control-sm mr-3 w-75 DeskripsiProjek"
              type="text"
              placeholder="contoh : Buatkan saya situs Website E-Commerce"
              aria-label="Search"
            ></textarea>
            <p class="LabelProjekUnggahan">
              File yang membantu penjelasan proyek:
            </p>

            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile"></label>
            </div>

            <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
            <button type="button" class="btn btn-sm submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this)
        .siblings(".custom-file-label")
        .addClass("selected")
        .html(fileName);
    });
  </script>

  {% endblock content %}
</body>
