{% extends 'nav.html' %} {% load static %} {% block title %} {% endblock title%}
{% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Lemon&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Rufina&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Castoro&display=swap"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dashboard_employer.css' %}"
/>

<div class="DashboardEmployerContainer">
  <!-- Judul  -->
  <div class="d-flex justify-content-center">
    <h1 class="JudulListJob">List Nama Job :</h1>
  </div>
  <!-- make a table-->
  <div class="DashboardEmployerWrapper">
    <table
      class="table table-hover table-fixed"
      id="table-dashboard"
      cellspacing="0"
      cellpadding="0"
    >
      <!--Table head-->
      <thead class="threadbaru">
        <tr>
          {% comment %} nama job , update , delete , ahref buat detail job ,
          lihat lamar job {% endcomment %}
          <th class="hideresponsive text-lg-center">Nama Job</th>
          <th class="hideresponsive text-lg-center">Update Job</th>
          <th class="hideresponsive text-lg-center">Delete Job</th>
          <th class="hideresponsive text-lg-center">List Pelamar Job</th>
          <th class="hideresponsive text-lg-center">Detail Job</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr>
          <td class="col_5 text-lg-center">Membuat Website</td>

          <td class="col_5 text-lg-center">
            <button class="w3-button w3-circle update">Update</button>
          </td>
          <td><button class="w3-button w3-circle delete">Delete</button></td>
          <td class="col_2 text-lg-center">
            <a href="">Click Detail>></a>
          </td>
          <td class="col_0 text-lg-center"><a href="">Click Detail>></a></td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
  </div>
  <!-- Button-->
  <div class="d-flex justify-content-center buatJob">
    <button class="btn BuatJobbtn">Buat Job</button>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

{% endblock content %}
